@font-face {
    font-family:"futurak";
    src: url(fonts/futurak.ttf);
}
html{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
    padding: 0%;
    margin: 0%;
}
.header{
    margin-top:9px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.list ul{
    display: flex;
    margin-inline: 23px;  
    margin-left: 230px;  
}
ul li{
    list-style: none;
    margin-inline: 18px;
    margin-top: 14px;
    font-size: 16px;
}
.img img{
    width: 165px;
    margin-left: 101px;
}
.btn button{
    border: none;
    border-radius: 35px;
    margin-top: 10px;
}
.btn-one{
    background-color: black;
    color: white;
    border: 1px solid white !important;
    width: 132px;
    height: 54px;
    margin-right: 8px;
}
.btn-two{
    background-color: #ed1c24;
    color: white;
    width: 148px;
    height: 55px;
    margin-right: 100px;
}
.btn-two i{
    background-color:white;
    color: #ed1c24;
    padding: 7px;
    border-radius: 100%;
}
.slide{
    width: 100%;
}
.slide img{
    width: 100%;
}
.intro{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 70px;
}
.intro h1{
    margin: 0%;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.intro p{
    margin: 0%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}
.intro h1 span{
    font-family: "futurak";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.first{
    text-align: center;
    width: 250px;
    object-fit: contain;
    height: 100%;
    background-color: #ffff;
    padding: 25px 5px 25px 5px;
    border-radius: 3px; 
}
.cards{
    display: inline-block;
    text-align: center;
}
.cards-container{
    text-align: center;
    height: 300px;
}
.first img{
    width: 220px;
}
.btn1 button{
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3   ) !important;
    border-radius: 35px;
    width: 170px;
    height: 54px;
    margin-right: 8px;   
    margin-top: 25px;
}
.btn1 :hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.center-card{
    margin: 0px 20px;
}
.intro-1{
    width: 100%;
    height: 1276px;
    background-color: rgba(255, 255, 255, 0.06);
    color: white;
    margin-top: 70px;
    padding-top: 70px;
}
.intro-1 h1{
    margin: 0%;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 10px;
}
.intro-1 p{
    margin: 0%;
    font-family: 'Apercu';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}
.intro-1 h1 span{
    font-family: "futurak";
    /* font-style: normal; */
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.box{
    width: 550px;
    height: 300px;
    background-color: transparent;
    margin: 0px 15px;
}
.card-1 h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
}
.card-1 h2{
    font-size: 32px;
    margin: 0%;
    margin-bottom: 20px;
}
.card-1 h5{
    margin: 0%;
}
.card-1 h2 span{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    color: #FFFFFF;
}
.card-1 h5{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
.card-1 h5 i{
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
}
.box-button button{
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3   ) !important;
    border-radius: 35px;
    width: 170px;
    height: 50px;
    margin-right: 8px;   
    margin-top: 40px;
}
.box-button button i{
    background-color:white;
    color: #ed1c24;
    padding: 7px;
    border-radius: 100%;
    margin-left: 10px;
}
.box-2{
    width: 550px;
    height: 300px;
    margin: 0px 15px;
}
.box-2 img{
    width: 550px;
    height: 300px;
}
.slide-1{
    display: flex;
    margin-left: 95px;
    margin-top: 50px;
}
.header-1{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.main{
    text-align: center;
    width: 350px;
}
.main img{
    width: 350px;
    height: 250px;
}
.main h3{
    margin: 0%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    text-align: center;
    display: block;
    margin-top: 24px;
}
.main h2{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}
.main h2 span{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
} 
.main h5{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-bottom: 10px;
}
.main h5 i{
    margin-right: 10px;
}
.head-btn{
    text-align: center;
}
.head-btn button{
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3   ) !important;
    border-radius: 35px;
    width: 180px;
    height: 50px;
    margin-right: 8px;   
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
}
.head-btn button i{
    background-color:white;
    color: #ed1c24;
    padding: 7px;
    border-radius: 100%;
    margin-left: 10px;
}
.main-head{
    text-align: center;
    margin-left: 120px;
}
.main-head2{
    margin-right: 120px;
}
.main-heading{
    text-align: center;
    margin-top: 70px;
    color: white;
}
.main-heading h1{
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.main-heading h1 span{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.head-1{
    width: 100%;
    height: 620px;
    background-color: rgba(255, 255, 255, 0.06);
    color: white;
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;
}
.head-1 h1{
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.head-1 h1 span{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.more-box{
    width: 100%;
    display: flex;
}
.box-one{
    width: 50%;
    margin-right: 20px;
}
.box-one img{
    margin: 0px 30px;
    width: 100%;
    border-radius: 18px;
}
.box-two{
    width: 50%;
    height: 250px;
    margin-top: 80px;
    text-align: left;
    margin-left: 20px;
}
.box-two h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
}
.box-two h2{
    font-size: 32px;
    margin: 0%;
    margin-bottom: 20px;
}
.box-two h2 span{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    color: #FFFFFF;
}
.box-two h5{
    margin: 0%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
.box-two h5 i{
    margin-right: 10px;
}
.head-1-btn button{
    background-color: #28a745;
    border: 1px solid #28a745 !important;    color: white;
    border-radius: 35px;
    width: 180px;
    height: 50px;
    margin-right: 8px;   
    margin-top: 40px;
    text-align: center;
    margin-bottom: 60px;
}
.head-1-btn button i{
    background-color:white;
    color: #28a745;
    padding: 7px;
    border-radius: 100%;
    margin-left: 15px;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}
.footer h1{
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.footer h1 span{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
.footer h1 strong{
    color: white;
    font-size: 30px;
}
.last-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.last-card-1{
    margin-left: 125px;
    width: 22%;
    height: 180px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    /* margin: auto; */
    margin-bottom: 32px;
}
.last-card-2{
    width: 22%;
    height: 180px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    /* margin: auto; */
    margin-bottom: 32px;
}
.last-card-3{
    margin-right: 125px;
    width: 22%;
    height: 180px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    /* margin: auto; */
    margin-bottom: 32px;
}
.last-card-1 img{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.last-card-2 img{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.last-card-3 img{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.last-card-1 h2{
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
}
.last-card-2 h2{
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
}
.last-card-3 h2{
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
}
.last-card-1 h4{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0%;
}
.last-card-2 h4{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0%;
}
.last-card-3 h4{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0%;
}
.last-card-1 h4 span{
    font-size: 24px;
    margin-right: 8px 
}
.last-card-2 h4 span{
    font-size: 24px;
    margin-right: 8px 
}
.last-card-3 h4 span{
    font-size: 24px;
    margin-right: 8px 
}
.last-card-1 h3{
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 0%;
}
.last-card-2 h3{
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 0%;
}
.last-card-3 h3{
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 0%;
}
.last-footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.last-footer h1{
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.last-footer-1{
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 60px;
    text-align: center;
}
.last-footer-1 img{
    width: 250px;
    height: 250px;
    padding: 7px;
}
.footer-2{
    display: flex;
    width: 100%;
    color: rgba(255, 255, 255, 0.7);    width: 100%;
    padding-top: 70px;
    background: rgba(255, 255, 255, 0.06);
    height: 400px;
    margin: 0%;
    padding: 0%;
}
.last-logo{
    width: 28%;
    margin-left: 101px;
}
.last-logo p{
    font-size: 18px;
}
.last-logo p strong{
    margin-left: 10px;
}
.last-logo img{
    width: 165px;
}
.site{
    width: 18%;
}
.icons ul{
    display: flex;
    margin-left: 11px;

}
.icons ul li{
    display: flex;
    background-color: #ED1C24;
    border-radius: 50px;
    padding: 0%;
    margin: 3%;

}
.icons ul li i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
}
.follow h5{
    padding-top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-left: 60px;
    color: rgba(255, 255, 255, 0.7);
}
.last-logo h5{
    padding-top: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.7);
}
.follow h3{
    color: white;
    margin-left: 55px;
    margin-bottom: 20px;
}
.Contact li h3{
    color: white;
    margin-bottom: 20px;
}
.site li h3{
    color: white;
    margin-bottom: 20px;
}



